{
  "presets": ["next/babel", "env"],
  "plugins": [
    [
      "styled-components",
      {
        "displayName": true,
        "ssr": true
      }
    ],
    "polished",
    "transform-class-properties"
  ]
}
